<div id="sabreContainer"></div>

<div id="flash" class="flash-blue"></div>

<div id="blade" class="blueBld"></div>

<div id="hilt" class="luke"></div>

<div id="choiceOverlay"></div>

<div id="bladeMenu" class="choiceMenu">
	<div id="choiceRed" class="bladeChoice"></div>
	<div id="choiceBlue" class="bladeChoice"></div>
	<div id="choiceGreen" class="bladeChoice"></div>
	<div id="choiceYellow" class="bladeChoice"></div>
	<div id="choicePurple" class="bladeChoice"></div>
</div>

<div id="hiltMenu" class="choiceMenu">
	<div id="choiceLuke" class="hiltChoice"></div>
	<div id="choiceQuiGon" class="hiltChoice"></div>
	<div id="choiceAnakin" class="hiltChoice"></div>
	<div id="choiceVader" class="hiltChoice"></div>
</div>

<div id="bladeButton"></div>
<div id="hiltButton"></div>

<audio id="audio-swing" controls="false" x-palm-media-audio-class="navigation">
<audio id="audio-hit" controls="false" x-palm-media-audio-class="navigation">
<audio id="audio-onOff" controls="false" x-palm-media-audio-class="navigation">
<audio id="audio-pulse" controls="false" x-palm-media-audio-class="media">
